<div class="main-content">
	<div class="banner-search">
		<div class="form-search" style="width: 60%">
			<%= simple_form_for :search, url: "" do |f| %>
				<span style="display: inline-block; width: 70% !important;"><%= f.input :name ,label: false , placeholder: "Đặt món trực tuyến, giao tận nơi tại 1242 địa điểm ở Hà Nội từ 08:30 - 21:00"%></span>
				<span style="display: inline-block"><%= f.submit%></span>						
			<% end %>
		</div>
	</div>
	<div class="restaurant-index">
		<div class="title">
			<h2>ĐỊA ĐIỂM ĐANG HOT</h2>
		</div>
		<div class="list-restaurant">
			<%= render "/page/hot_restaurant"%>
		</div>
		<div class="view-more">
			Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		</div>
		<div class="hot-foods">
			<ul class="nav nav-tabs">
		  	<li class="active"><a data-toggle="tab" href="#breakfast">Ăn sáng</a></li>
			  <li><a data-toggle="tab" href="#lunch">Ăn trưa</a></li>
			  <li><a data-toggle="tab" href="#light">Ăn nhẹ</a></li>
			  <li><a data-toggle="tab" href="#dinner">Ăn tối</a></li>
			</ul>

			<div class="tab-content">
			  <div id="breakfast" class="tab-pane fade in active">
			    <%= render "/page/breakfast"%>
			  </div>
			  <div id="lunch" class="tab-pane fade">
			    <%= render "/page/lunch" %>
			  </div>
			  <div id="light" class="tab-pane fade">
			    <%= render "/page/light" %>
			  </div>
			  <div id="dinner" class="tab-pane fade">
			    <%= render "/page/dinner" %>
			  </div>
			</div>
		</div>
		<div class="view-more">
			Xem Thêm <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		</div>
	</div>
</div>