<div class="main-restaurant">
	<div class="restaurant-block">
		<div class="row">
			<div class="restaurant-cover col-md-6">
				<% if @restaurant.image.present? %>
	      	<%= image_tag @restaurant.image, width: "580px", height: "280px"%>
	      <% else %>
	      	<%= image_tag @restaurant.coverimage, width: "580px", height: "280px" %>
	      <% end %>
				</div>
			<div class="restaurant-info col-md-6">
				<div class="type-food">
					<%= @restaurant.type_restaurant %>
				</div>
				<div class="restaurant-name">
					<%= @restaurant.name %>
				</div>
				<div class="restaurant-address">
					<p style="margin: 20px 0px ; color: #464646;"><%= @restaurant.address %> </p>
				</div>
				<div class="restaurant-range" style="color: #a1a1a1">
					<span class="time" style="padding-right: 20px">
						<i class="fa fa-clock-o" aria-hidden="true" style="padding-right: 10px"></i><%= @restaurant.time_open %> - <%= @restaurant.time_close %>
					</span>
					<span class="price-range" style="padding-right: 20px">
						<i class="fa fa-money" aria-hidden="true" style="padding-right: 10px"></i><%= @restaurant.price_range %>
					</span>
				</div>
				<hr>
				<div class="delivery"> 
					<table>
						<thead>
							<tr>
								<th>TỐI THIỂU <i class="fa fa-headphones" aria-hidden="true"></i> </th>
								<th>PHÍ VẬN CHUYỂN <i class="fa fa-money" aria-hidden="true"></i></th>
								<th>GIAO HÀNG <i class="fa fa-car" aria-hidden="true"></i></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>100,000 đ</td>
								<td>5,000 đ/km</td>
								<td>Quán tự giao</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container-content">
		<div class="content-restaurant">
			<div class="all-info-restaurant">
				<div class="menu-content col-md-9">
					<ul class="nav nav-tabs">
					  <li class="active"><a data-toggle="tab" href="#menu">THỰC ĐƠN</a></li>
					  <li><a data-toggle="tab" href="#intro">GIỚI THIỆU</a></li>
					  <li><a data-toggle="tab" href="#sale">KHUYẾN MẠI</a></li>
					</ul>
					<div class="tab-content">
					  <div id="menu" class="tab-pane fade in active">
				     <nav class="col-md-4 type-food" id="myScrollspy">
				        <ul class="nav nav-pills nav-stacked scroll">
				          <% @types.each_with_index do |t,index | %>
				          	<% if index == 0 %>
						    			<li><a href="#<%= t.id%>" class="active"><%= t.name %></a> </li>
				          	<% else %>
						    			<li><a href="#<%= t.id%>"><%= t.name %></a> </li>
						    		<% end %>
					    		<% end %>
				        </ul>
				     	</nav>
					    <div class="list-food col-md-8">
					    	<div class="detail-kind-menu">
					    		<% @types.each do |t| %>
					    			<div id="<%= t.id %>" class="scrollpanel type-list">
					    				<p class="kind-of-food"><%= t.name %></p>
				    					<% t.foods.all.each do |f|%>
				    						<div class="box-menu-detail">
				    							<div class="img-detail col-md-1">
				    								<% if f.image.present? %>
											    		<%= image_tag f.image %>
											    	<% else %>
											    		<% if f.crawl_image.slice(0..3) == "http" %>
													      <%= image_tag f.crawl_image ,size: 60 %>
											    		<% else %>
											    			<%= image_tag "no-image.png",size: 60 %>
											    		<% end %>
											    	<% end %>
				    							</div>
				    							<div class="name-food-detail col-md-11">
				    								<div class="f-left" style="float:left;">
				    									<p class="title-name-food"> <%= f.name %> </p>
				    									<p class="count-order">Đã được đặt <strong><%= f.countorder %></strong>  trong tháng </p>
				    								</div>
				    								<div class="f-right" style="float: right;">
				    									<div class="price" style="color:blue; font-size:16px; display:inline-block;"><%= f.basicprice %>.000</div>
				    									<%= link_to "+", restaurant_order_path(t.restaurant_id,food_id: f.id), class: "add-cart" , method: "post" ,remote: true%>
				    								</div>
				    							</div>
				    							<div class="clearfix"></div>
				    							<hr class="bottom">
				    						</div>
				    					<% end %>
					    			</div>
					    		<% end %>
					    	</div>
					    </div>
					    <div class="clearfix"></div>
					  </div>
					  <div id="intro" class="tab-pane fade">
					    <h3>Menu 1</h3>
					    <p>Some content in menu 1.</p>
					  </div>
					  <div id="sale" class="tab-pane fade">
					    <h3>Menu 2</h3>
					    <p>Some content in menu 2.</p>
					  </div>
					</div>
				</div>
				<div class="bill-content col-md-3">
					<div class="div-top">
						<div class="amount-item" style="display: inline-block;">
							<a>1 phần - 1 người</a>
						</div>
						<div class="reset-order" style="display: inline-block">
							<a class="remove-food">Reset</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<%= simple_form_for Cart.new , url: carts_path , method: "post" do |f| %>
						<div class="list-item-order" style="overflow: auto; overflow-y:auto; max-height:200px">
						</div>
						<%= f.hidden_field :status, value: "Going"%>
						<%= f.hidden_field :restaurant_id, value: @restaurant.id%>
						<div class="cart-content">
							<div class="row sum-price">
								<div class="title" style="display:inline-block; float: left ;"> Cộng </div>
								<%= f.hidden_field :sum_money , class: "cart-money" %>
								<div class="price" style="display:inline-block; float: right ;">0</div>
								<div class="clearfix"></div>
							</div>
							<div class="row delivery">
								<div class="title" style="display:inline-block; float: left ;"> Phí vận chuyển </div>
								<div class="price" style="display:inline-block; float: right ;">5.000đ/km</div>
								<div class="clearfix"></div>
							</div>
							<div class="row service">
								<div class="title" style="display:inline-block; float: left ;"> Phục vụ </div>
								<div class="price" style="display:inline-block; float: right ;">10%</div>
								<div class="clearfix"></div>
							</div>
							<div class="row price-order">
								<div class="title" style="display:inline-block; float: left ;"> Tạm tính </div>
								<div class="price" style="display:inline-block; float: right ;">0 đ</div>
								<%= f.hidden_field :money , class: "cart-money" %>
								<div class="clearfix"></div>
							</div>
							<button type="button" class="btn btn-primary btn-lg order-button" data-toggle="modal" data-target="#myModal12">
								Đặt Hàng
							</button>
							<div class="modal fade" id="myModal12" >
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel">Nhập Thông Tin Cá nhân</h4>
							      </div>
							      <div class="modal-body">
							      	<%= f.input :customer, label: "Nhập tên khách hàng"%>
							      	<%= f.input :address, label: "Địa chỉ liên hệ"%>
							      	<%= f.input :phone, label: "Số điện thoại"%>
							      </div>
							      <div class="modal-footer">
							        <div class="row submit">
												<%= f.submit "Tạo Hóa Đơn", class: "order"%>
											</div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
