<div class="content">
	<div class="panel-new">
		<div class="title"><h2>ADD Type</h2></div>
		<div class="form-restaurant">
			<%= simple_form_for Listtype.new, url: admins_restaurant_list_types_path(res.id), method: 'post' do |f| %>
						<div class="row">
							<%= f.hidden_field :restaurant_id, value: res.id%>
							<%= f.input :name, label: "Name" %>
							<center><strong><h4>Type Food</h4></strong></center>
							<br>
							<table>
						 		<% @types_name.each_slice(4) do |type| %>
		 							<tr>
		 							<% type.each do |t|%>
		 								<td class="col-xs-3">
			 								<div class="checkbox">
									  		<label><input type="checkbox" name= "type_foods[]" value="<%= t %>"><%= t %></label>
										</div>
										</td>
									<% end %>
									</tr>
						 		<% end %>
						 	</table>
				 			<div class="clearfix"></div>
						</div>
				  <br>
				  <%= f.button :submit, label: "Add Restaurant" , class: " btn btn-primary"%>
			<% end %>
		</div>
		<div class="clearfix"></div>
	</div>
</div>