<div class="panel-login">
  <div class="title">Đăng nhập bằng email</div>
  <%= simple_form_for  :user, url: user_session_path, method: "post" do |f| %>
    <div class="field input-field">
      <%= f.email_field :email, autofocus: true , placeholder: "Email hoặc Username"%>
    </div>

    <div class="field input-field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Mật khẩu" %>
    </div>
    <div class="actions">
      <%= f.submit "Đăng nhập" %>
    </div>
    <hr>
    <div class="label-or">
      <div class="or">HOẶC</div>
    </div>
    <div class="social">
      <ul class="social-icon">
        <li><%= link_to image_tag("fb.png"), "#" %> </li>
        <li><%= link_to image_tag("gg.png"), "#" %> </li>
      </ul>
    </div>
    <p>Bạn chưa có tài khoản? Nhấn <a 
    onclick="register()" style="color: red">vào đây</a> để đăng ký và bắt đầu trải nghiệm dịch vụ.</p>
  <% end %>
</div>