<div class="panel-model">
  <div class="list-model">
    <ul>
      <li><i class="fa fa-tachometer" aria-hidden="true"></i><%= link_to "DashBoard", admin_path %></li>
      <li><i class="fa fa-home" aria-hidden="true"></i><%= link_to "Restaurant", admins_restaurants_path %></li>
      <li><i class="fa fa-list" aria-hidden="true"></i><%= link_to "List Type", admins_types_path%></li>
      <li><i class="fa fa-glass" aria-hidden="true"></i><%= link_to "Food", admins_foods_path%></li>
      <li><i class="fa fa-shopping-cart" aria-hidden="true"></i><%= link_to "Cart", admins_carts_path%></li>
      <li><i class="fa fa-user" aria-hidden="true"></i><%= link_to "User", admins_users_path%></li>
    </ul>
  </div>
</div>
