<!DOCTYPE html>
<html>
  <head>
    <title>Delivery</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :defaults, "nested_form" %>
  </head>

  <body data-spy="scroll" data-target="#myScrollspy" data-offset="50" style="position: relative;">
    <div class="header">
      <%= render "/layouts/header"%>
    </div>
    <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>" style="margin-top: 15px;
    margin-left: 15px;"><%= message %></div>
          <% end %>
    <div class="restaurant-container">
      <%= yield %>
    </div>
  </body>
</html>
